<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupglobals="false" backupstaticattributes="false" bootstrap="bootstrap/autoload.php" colors="true" converterrorstoexceptions="true" convertnoticestoexceptions="true" convertwarningstoexceptions="true" processisolation="false" stoponfailure="false">
    <testsuites>
        <testsuite name="Feature Tests">
            <directory suffix="Test.php">
                ./tests/Feature
            </directory>
        </testsuite>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">
                ./tests/Unit
            </directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processuncoveredfilesfromwhitelist="true">
            <directory suffix=".php">
                ./app
            </directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing">
        </env>
        <env name="CACHE_DRIVER" value="array">
        </env>
        <env name="SESSION_DRIVER" value="array">
        </env>
        <env name="QUEUE_DRIVER" value="sync">
        </env>
    </php>
</phpunit>
